In [4]:
import pandas as pd

In [6]:
df = pd.read_csv("data/listings_cleaned.csv")
df = pd.read_csv("data/listings_cleaned.csv", parse_dates=["first_review", "last_review"])

In [8]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14851 entries, 0 to 14850
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           14851 non-null  int64
 1   name                         14851 non-null  object
 2   host_is_superhost            14851 non-null  bool
 3   neighbourhood_cleansed       14851 non-null  object
 4   latitude                     14851 non-null  float64
 5   longitude                    14851 non-null  float64
 6   property_type                14851 non-null  object
 7   room_type                    14851 non-null  object
 8   accommodates                 14851 non-null  int64
 9   bathrooms                    14851 non-null  float64
 10  bedrooms                     14851 non-null  float64
 11  beds                         14851 non-null  float64
 12  amenities                    14851 non-null  object
 13  price                        14851 non-null  float64
 14  minimum_nights               14851 non-null  int64
 15  maximum_nights               14851 non-null  int64
 16  has_availability             14789 non-null  object
 17  availability_365             14851 non-null  int64
 18  number_of_reviews            14851 non-null  int64
 19  estimated_occupancy_l365d    14851 non-null  int64
 20  estimated_revenue_l365d      14851 non-null  float64
 21  first_review                 12561 non-null  datetime64[ns]
 22  last_review                  12561 non-null  datetime64[ns]
 23  review_scores_rating         12561 non-null  float64
 24  review_scores_accuracy       12560 non-null  float64
 25  review_scores_cleanliness    12560 non-null  float64
 26  review_scores_checkin        12560 non-null  float64
 27  review_scores_communication  12560 non-null  float64
 28  review_scores_location       12560 non-null  float64
 29  review_scores_value          12560 non-null  float64
 30  instant_bookable             14851 non-null  bool
 31  reviews_per_month            12561 non-null  float64
dtypes: bool(2), datetime64[ns](2), float64(15), int64(7), object(6)
memory usage: 3.4+ MB

,id,name,host_is_superhost,neighbourhood_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,...,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,reviews_per_month
0,33945,Spacious Cosy aprtm very close to Metro!,False,ΑΓΙΟΣ ΝΙΚΟΛΑΟΣ,38.00673,23.72775,Entire condo,Entire home/apt,4,1.0,...,2025-06-18,4.75,4.76,4.71,4.88,4.90,4.64,4.81,False,0.47
1,49489,Ermou 44 - 3bdr apt in the heart of Athens,False,ΕΜΠΟΡΙΚΟ ΤΡΙΓΩΝΟ-ΠΛΑΚΑ,37.97670,23.73064,Entire rental unit,Entire home/apt,7,1.5,...,2025-06-06,4.68,4.78,4.69,4.84,4.87,4.88,4.69,True,0.84
2,60394,Cosy apartment! Great central Athens location!,True,ΣΤΑΔΙΟ,37.96738,23.74038,Entire condo,Entire home/apt,2,1.0,...,2024-12-14,4.97,4.97,4.94,4.91,4.97,4.91,4.94,False,0.29
3,134340,Neo Pagrati Athens Apartment,False,ΠΑΓΚΡΑΤΙ,37.96405,23.74968,Entire condo,Entire home/apt,2,1.0,...,2025-06-06,4.67,4.66,4.40,4.97,4.93,4.55,4.83,False,0.36
4,154243,LUSCIOUS ROOF GARDEN IN THE CENTER!,False,ΜΟΥΣΕΙΟ-ΕΞΑΡΧΕΙΑ-ΝΕΑΠΟΛΗ,37.98574,23.73323,Entire rental unit,Entire home/apt,4,1.0,...,2025-06-07,4.72,4.80,4.67,4.85,4.88,4.58,4.65,False,1.28

In [14]:
df.describe()[['price','reviews_per_month','availability_365','beds','bedrooms','accommodates','review_scores_rating']]

,price,reviews_per_month,availability_365,beds,bedrooms,accommodates,review_scores_rating
count,14851.000000,12561.000000,14851.000000,14851.000000,14851.000000,14851.000000,12561.000000
mean,131.182547,1.735344,250.634233,2.018517,1.397280,3.709649,4.765223
min,9.000000,0.010000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,54.000000,0.420000,177.000000,1.000000,1.000000,2.000000,4.710000
50%,76.000000,1.120000,277.000000,2.000000,1.000000,4.000000,4.870000
75%,116.000000,2.550000,335.000000,2.000000,2.000000,4.000000,4.980000
max,38000.000000,16.980000,365.000000,35.000000,14.000000,16.000000,5.000000
std,534.282612,1.734458,99.312557,1.475819,0.856822,1.938586,0.374216

In [40]:
for col in ['room_type','property_type','neighbourhood_cleansed','host_is_superhost']:
    print(f"\nValue counts for '{col}':")
    print(df[col].value_counts())

Value counts for 'room_type':
room_type
Entire home/apt    13846
Private room         927
Hotel room            48
Shared room           30
Name: count, dtype: int64

Value counts for 'property_type':
property_type
Entire rental unit                    9863
Entire condo                          3009
Private room in rental unit            412
Entire home                            406
Entire serviced apartment              274
Room in hotel                          184
Private room in condo                  123
Entire loft                            122
Room in aparthotel                      89
Room in boutique hotel                  66
Private room in home                    35
Private room in serviced apartment      31
Entire townhouse                        29
Shared room in hostel                   22
Room in serviced apartment              22
Private room in guest suite             20
Private room in bed and breakfast       18
Entire villa                            18
Tiny home                               17
Entire vacation home                    11
Entire guest suite                      11
Entire guesthouse                       11
Private room in hostel                  11
Entire place                             9
Camper/RV                                5
Private room in guesthouse               5
Private room in townhouse                3
Shared room in rental unit               3
Casa particular                          3
Cycladic home                            3
Private room in casa particular          2
Shared room in guesthouse                1
Boat                                     1
Barn                                     1
Private room in tent                     1
Shared room in hotel                     1
Shared room in condo                     1
Private room in floor                    1
Shared room in bed and breakfast         1
Castle                                   1
Private room in earthen home             1
Earthen home                             1
Entire cottage                           1
Floor                                    1
Shared room in townhouse                 1
Name: count, dtype: int64

Value counts for 'neighbourhood_cleansed':
neighbourhood_cleansed
ΕΜΠΟΡΙΚΟ ΤΡΙΓΩΝΟ-ΠΛΑΚΑ              2982
ΚΟΥΚΑΚΙ-ΜΑΚΡΥΓΙΑΝΝΗ                 1328
ΝΕΟΣ ΚΟΣΜΟΣ                         1113
ΜΟΥΣΕΙΟ-ΕΞΑΡΧΕΙΑ-ΝΕΑΠΟΛΗ            1062
ΑΓΙΟΣ ΚΩΝΣΤΑΝΤΙΝΟΣ-ΠΛΑΤΕΙΑ ΒΑΘΗΣ     955
ΠΑΓΚΡΑΤΙ                             631
ΠΛΑΤΕΙΑ ΑΤΤΙΚΗΣ                      578
ΚΟΛΩΝΑΚΙ                             507
ΑΜΠΕΛΟΚΗΠΟΙ                          482
ΑΚΡΟΠΟΛΗ                             460
ΘΗΣΕΙΟ                               443
ΠΕΤΡΑΛΩΝΑ                            422
ΚΕΡΑΜΕΙΚΟΣ                           402
ΚΥΨΕΛΗ                               288
ΣΤΑΔΙΟ                               280
ΓΟΥΔΙ                                258
ΙΛΙΣΙΑ                               223
ΖΑΠΠΕΙΟ                              207
ΠΑΤΗΣΙΑ                              189
ΛΥΚΑΒΗΤΤΟΣ                           188
ΠΛΑΤΕΙΑ ΑΜΕΡΙΚΗΣ                     184
ΝΙΡΒΑΝΑ                              158
ΑΝΩ ΚΥΨΕΛΗ                           136
ΚΟΛΩΝΟΣ                              122
ΓΚΥΖΗ                                120
ΠΕΔΙΟ ΑΡΕΩΣ                          116
ΒΟΤΑΝΙΚΟΣ                            115
ΓΚΑΖΙ                                111
ΓΟΥΒΑ                                102
ΑΓΙΟΣ ΝΙΚΟΛΑΟΣ                        93
ΑΚΑΔΗΜΙΑ ΠΛΑΤΩΝΟΣ                     88
ΣΤΑΘΜΟΣ ΛΑΡΙΣΗΣ                       84
ΕΛΛΗΝΟΡΩΣΩΝ                           79
ΑΝΩ ΠΑΤΗΣΙΑ                           71
ΣΕΠΟΛΙΑ                               66
ΝΕΑ ΚΥΨΕΛΗ                            56
1Ο ΝΕΚΡΟΤΑΦΕΙΟ                        49
ΑΓΙΟΣ ΕΛΕΥΘΕΡΙΟΣ                      33
ΠΟΛΥΓΩΝΟ                              28
ΚΟΛΟΚΥΝΘΟΥ                            12
ΠΡΟΜΠΟΝΑ                              11
ΡΙΖΟΥΠΟΛΗ                             11
ΡΗΓΙΛΛΗΣ                               6
ΠΕΝΤΑΓΩΝΟ                              2
Name: count, dtype: int64

Value counts for 'host_is_superhost':
host_is_superhost
False    8235
True     6616
Name: count, dtype: int64