### 1. Data Cleaning & Preparation

In [7]:
import pandas as pd

In [102]:
df = pd.read_csv('data/listings.csv')

In [104]:
df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'availability_eoy',
       'number_of_reviews_ly', 'estimated_occupancy_l365d',
       'estimated_revenue_l365d', 'first_review', 'last_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [106]:
df = df.drop([
    'listing_url',
    'scrape_id',
    'host_url',
    'host_id',
    'calendar_last_scraped',
    'calendar_updated',
    'picture_url',
    'host_picture_url',
    'host_thumbnail_url',
    'license',
    'host_verifications',
    'host_identity_verified',
    'minimum_minimum_nights',
    'maximum_minimum_nights',
    'calculated_host_listings_count',
    'last_scraped',
    'source',
    'description',
    'neighborhood_overview',
    'host_name',
    'host_since',
    'host_location',
    'host_about',
    'host_response_time',
    'host_response_rate',
    'host_acceptance_rate',
    'host_neighbourhood',
    'host_listings_count',
    'host_total_listings_count',
    'host_has_profile_pic',
    'bathrooms_text',
    'minimum_maximum_nights',
    'maximum_maximum_nights',
    'minimum_nights_avg_ntm',
    'maximum_nights_avg_ntm',
    'availability_30',
    'availability_60',
    'availability_90',
    'availability_eoy',
    'number_of_reviews_ltm',
    'number_of_reviews_l30d',
    'number_of_reviews_ly',
    'calculated_host_listings_count_entire_homes',
    'calculated_host_listings_count_private_rooms',
    'calculated_host_listings_count_shared_rooms'
], axis=1)

In [63]:
df.columns

Index(['id', 'name', 'host_is_superhost', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bedrooms', 'beds', 'amenities', 'price', 'minimum_nights',
       'maximum_nights', 'has_availability', 'availability_365',
       'number_of_reviews', 'estimated_occupancy_l365d',
       'estimated_revenue_l365d', 'first_review', 'last_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable', 'reviews_per_month'],
      dtype='object')

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15632 entries, 0 to 15631
Data columns (total 34 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            15632 non-null  int64
 1   name                          15632 non-null  object
 2   host_is_superhost             14735 non-null  object
 3   neighbourhood                 7613 non-null   object
 4   neighbourhood_cleansed        15632 non-null  object
 5   neighbourhood_group_cleansed  0 non-null      float64
 6   latitude                      15632 non-null  float64
 7   longitude                     15632 non-null  float64
 8   property_type                 15632 non-null  object
 9   room_type                     15632 non-null  object
 10  accommodates                  15632 non-null  int64
 11  bathrooms                     14849 non-null  float64
 12  bedrooms                      15541 non-null  float64
 13  beds                          14828 non-null  float64
 14  amenities                     15632 non-null  object
 15  price                         14851 non-null  object
 16  minimum_nights                15632 non-null  int64
 17  maximum_nights                15632 non-null  int64
 18  has_availability              15439 non-null  object
 19  availability_365              15632 non-null  int64
 20  number_of_reviews             15632 non-null  int64
 21  estimated_occupancy_l365d     15632 non-null  int64
 22  estimated_revenue_l365d       14851 non-null  float64
 23  first_review                  13123 non-null  object
 24  last_review                   13123 non-null  object
 25  review_scores_rating          13123 non-null  float64
 26  review_scores_accuracy        13122 non-null  float64
 27  review_scores_cleanliness     13122 non-null  float64
 28  review_scores_checkin         13122 non-null  float64
 29  review_scores_communication   13122 non-null  float64
 30  review_scores_location        13122 non-null  float64
 31  review_scores_value           13122 non-null  float64
 32  instant_bookable              15632 non-null  object
 33  reviews_per_month             13123 non-null  float64
dtypes: float64(15), int64(7), object(12)
memory usage: 4.1+ MB

In [110]:
df.isna().sum()

id                                  0
name                                0
host_is_superhost                 897
neighbourhood                    8019
neighbourhood_cleansed              0
neighbourhood_group_cleansed    15632
latitude                            0
longitude                           0
property_type                       0
room_type                           0
accommodates                        0
bathrooms                         783
bedrooms                           91
beds                              804
amenities                           0
price                             781
minimum_nights                      0
maximum_nights                      0
has_availability                  193
availability_365                    0
number_of_reviews                   0
estimated_occupancy_l365d           0
estimated_revenue_l365d           781
first_review                     2509
last_review                      2509
review_scores_rating             2509
review_scores_accuracy           2510
review_scores_cleanliness        2510
review_scores_checkin            2510
review_scores_communication      2510
review_scores_location           2510
review_scores_value              2510
instant_bookable                    0
reviews_per_month                2509
dtype: int64

In [112]:
df = df.drop(['neighbourhood','neighbourhood_group_cleansed'], axis=1)

In [114]:
df['host_is_superhost']

0        t
1        f
2        f
3        t
4        f
        ..
15627    f
15628    f
15629    f
15630    f
15631    f
Name: host_is_superhost, Length: 15632, dtype: object

In [116]:
df['host_is_superhost'].unique()

array(['t', 'f', nan], dtype=object)

In [118]:
df['host_is_superhost'] = df['host_is_superhost'].fillna('f')

In [122]:
df['host_is_superhost'] = df['host_is_superhost'].map({'t':True,'f':False})

In [126]:
df['host_is_superhost'].dtype

dtype('bool')

In [132]:
df['instant_bookable'] = df['instant_bookable'].map({'t':True,'f':False})

In [140]:
df['price'].isna().sum()

781

In [144]:
df = df.dropna(subset=['price'])

In [148]:
df['price']

1         $35.00
2        $160.00
3         $50.00
4         $39.00
5         $70.00
          ...
15627     $53.00
15628    $186.00
15629     $89.00
15630     $99.00
15631     $54.00
Name: price, Length: 14851, dtype: object

In [150]:
df['price'] = df['price'].replace('[\$,]', '', regex=True).astype(float)

<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:1: SyntaxWarning: invalid escape sequence '\$'
C:\Users\lamal\AppData\Local\Temp\ipykernel_11908\2337335738.py:1: SyntaxWarning: invalid escape sequence '\$'
  df['price'] = df['price'].replace('[\$,]', '', regex=True).astype(float)

In [154]:
df['price'][15]

111.0

In [160]:
df[['bathrooms', 'bedrooms','beds']]

       bathrooms  bedrooms  beds
1            1.0       2.0   3.0
2            1.5       3.0   4.0
3            1.0       1.0   3.0
4            1.0       1.0   1.0
5            1.0       1.0   2.0
...          ...       ...   ...
15627        1.0       2.0   2.0
15628        3.0       3.0   4.0
15629        2.0       2.0   3.0
15630        0.0       1.0   2.0
15631        1.0       2.0   2.0

[14851 rows x 3 columns]

In [162]:
df[['bathrooms', 'bedrooms', 'beds']].isna().sum()

bathrooms     5
bedrooms     16
beds         26
dtype: int64

In [164]:
for col in ['bathrooms', 'bedrooms', 'beds']:
    median_value = df[col].median()
    df[col] = df[col].fillna(median_value)

In [166]:
df[['bathrooms', 'bedrooms', 'beds']].isna().sum()

bathrooms    0
bedrooms     0
beds         0
dtype: int64

In [208]:
df[['bathrooms', 'bedrooms', 'beds']]

       bathrooms  bedrooms  beds
1            1.0       2.0   3.0
2            1.5       3.0   4.0
3            1.0       1.0   3.0
4            1.0       1.0   1.0
5            1.0       1.0   2.0
...          ...       ...   ...
15627        1.0       2.0   2.0
15628        3.0       3.0   4.0
15629        2.0       2.0   3.0
15630        0.0       1.0   2.0
15631        1.0       2.0   2.0

[14851 rows x 3 columns]

In [ ]:
(df['reviews_per_month'] == 0.0).sum()

In [180]:
df['reviews_per_month'].iloc[15].dtype

dtype('float64')

In [192]:
df[['first_review','last_review']].isna().sum()

first_review    2290
last_review     2290
dtype: int64

In [194]:
df['first_review'] = pd.to_datetime(df['first_review'])
df['last_review'] = pd.to_datetime(df['last_review'])

In [206]:
df['first_review']

1       2010-11-02
2       2011-08-28
3       2015-05-27
4       2011-09-24
5       2011-07-14
           ...
15627          NaT
15628          NaT
15629          NaT
15630          NaT
15631          NaT
Name: first_review, Length: 14851, dtype: datetime64[ns]